@media (min-width:768px) {}

@media (max-width:767px) {
    .forum-title-bar h4 {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .forum-share-bar {
        margin-top: 13px;
    }
}

@media (max-width: 767px) and (orientation:portrait) {
	.reply-user-image img {
	    height: 40px;
	    width: 40px;
	}

	.reply-user-image, .profile-coment-user {
	    width: 40px;
	}

	.reply-coment-box, .profile-coment-comment {
	    width: calc(100% - 40px);
	}

	.comment-method ul li a {
	    font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.the-media .col-md-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}

	.our-team .row {
	    margin: 0 -15px;
	}

	.our-team .row [class*="col"] {
	    padding: 0 15px;
	}
}

@media (max-width: 1024px) {
	.trending-profiles-section {
	    margin: 15px 0;
	}
}

.team-section img {
    object-fit: cover;
}