@media (min-width:992px) {
    .dashboard-toggle {
        display: none;
    }

    .profile-sidemenu--hiden {
        display: none;
    }
}

.team-section img {
    object-fit: cover;
}


@media (max-width: 1024px) {
    .trending-profiles-section {
        margin: 15px 0;
    }
}


@media (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 0.5rem;
        font-size: 16px;
    }

    .profile-sidemenu {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        position: fixed;
    }

    .profile-sidemenu-show {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .dashboard-toggle {
        width: 35px;
        margin-left: 15px;
        cursor: pointer;
        position: relative;
        z-index: 100;
        top: -40px;
    }

    .dashboard-toggle.open {
        display: none;
    }

    .profile-main-section {
        margin-left: 0;
        padding: 0 15px;
    }

    .profile-details {
        margin-bottom: 30px;
    }

    .dashboard-toggle-hide {
        width: 35px;
        height: 35px;
        display: block;
        font-size: 30px;
        text-align: center;
        color: #8ac43f;
        cursor: pointer;
        top: -20px;
        position: relative;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .the-media .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .our-team .row {
        margin: 0 -15px;
    }

    .our-team .row [class*="col"] {
        padding: 0 15px;
    }
}



@media (max-width:767px) {
    .forum-title-bar h4 {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .forum-share-bar {
        margin-top: 13px;
    }

    .search-wrapper {
        display: block;
        background: none;
    }

    .search-wrapper .form-group {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 15px 15px 0 15px;
    }

    .search-wrapper .btn-transpatent {
        bottom: 0;
        right: 17px;
    }

    .login-menu li {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 10px;
        text-align: center;
    }

    .nav-item.dropdown.logdin .dropdown-toggle {
        /*padding: 10px 0;*/
        padding: 0 !important;
        display: block;
    }
    .nav-item.dropdown.logdin {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: right;
    }

    .login-menu li:not(:last-child) {
        margin-right: 0;
    }

    .nav-item.dropdown.logdin .dropdown-menu li {

        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;

    }
    .login-menu ul.dropdown-menu {
        display: none;
        right: 0;
        left: auto !important;
    }



    .nav-item.dropdown.logdin .dropdown-menu li a {
        border: none;
        padding: 10px;
    }
     .login-menu li.nav-item.logdin .dropdown-menu {
        padding: 10px 0;
    }

    .login-menu ul.dropdown-menu.show {
        display: block;
        width: 200px;
        transform: translate3d(10px, 30px, 0px) !important;
    }

    .login-menu ul {
        padding-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .login-menu.login-menu-xs {
        padding: 0 10px;
    }

    .inner-header .login-menu li:first-child>a {
        background: none;
        color: #8ac43f;
        border: 1px solid currentColor;
    }

    .inner-header .login-menu li:first-child>a:hover {
        color: #f59b43;
    }

    .inner-header .login-menu li.dropdown>a,
    .inner-header .login-menu li>a {
        font-size: 13px;
    }

    .like-view .col-sm-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .profileq-profilea .profile-question-answer-section,
    .forum-question-answer-section {
        padding: 15px;
    }

    .profile-question-answer-section .profile-leave-comment {
        padding: 20px 15px;
    }

    .forum-like-comment-view ul li {
        flex: 0 0 40%;
    }
    .profile-question-answer-section h4 i {
        display: none;
    }

    .like-comment-view ul li {
        flex: 1 0 40%;
    }

    .reply-coment-box,
    .profile-coment-comment {
        padding-left: 12px;

    }

    .blog-single-pg {
        padding: 20px 0;
    }

    .forum-title-bar ul li {
        margin-bottom: 20px;

    }

    .forum-search-bar .search-form {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .btn.donate_us {
        width: 100%;
    }

    .customer-login .row [class*="col"] {
        min-height: 0;

    }

    .share-blog ul {
        float: none;
    }

    .share-blog li:first-child {
        display: block;
        margin-right: 0;
    }

    #blog_description_ifr {
        height: 200px !important;
    }


}


@media (max-width: 767px) and (orientation:portrait) {
    .reply-user-image img {
        height: 40px;
        width: 40px;
    }

    .reply-user-image,
    .profile-coment-user {
        width: 40px;
    }

    .reply-coment-box,
    .profile-coment-comment {
        width: calc(100% - 40px);
    }

    .comment-method ul li a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .profile-reply-form textarea.form-control {
        padding-right: 40px;
        font-size: 12px;

    }

    .editable-section a {
        font-size: 12px;
    }
}